<html>
<head>
	<style type="text/css">
		form{
			background-color: yellow;
		}
	</style>
</head>
    <body>
        <form action="[%cPath%]/image.do" method="get">
            <select name="name">
            	[%options%]
            </select>
            <button type="submit">이미지 랜더링</button>
        </form>
        <script type="text/javascript" src="[%cPath%]/resources/js/app/04/imageForm.js"></script>
    </body>
</html>

